<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="demo.css">
    <title>Covidetect - Covid-19 Detection Using X-Rays</title>
    
</head>
<body>
    <nav class="navbar background">
        <ul class="nav-list">
        <div class="logo">
            <img src="images\logo1.png" alt="logo"></div>
            <h1><em>COVIDETECT</em></h1>
        <!-- <li> <a href="#home"> Home </li> -->
        <!-- <li> <a href="#about">About </a></li> -->
        <!-- <li> <a href="#services">Guide </a></li> -->
        
       
    </ul>
   
    </nav>
    <section class="background firstSection">
      <div class="box-main">
        <div class="firsthalf">
        <p class="text-big">We Are In This Together!</p>
        <p class="text-small">When a communicable disease outbreak begins, the ideal response is for public health officials to begin testing for it early.</p>
    <div class="buttons">
        <a href="https://www.mygov.in/covid-19">

        
        <button class="btn">Covid Resources</button></a>
        <a href="http://127.0.0.1:5000/">
        <button class="btn">CoviDetect</button>
    </a>
    </div>
    </div>
    
        <div class="secondhalf">
         <br>
         <br>
            <img src="images\photo-1589283183492-53fbfd058409.jpg" alt="Warrior">   
       

    </div>
    </section>
  
   </body>
  
</html>