<html>
    <title>Covid Detection</title>
    <style>
        body {
          background-image: url('https://www.who.int/images/default-source/wpro/infographics/coronavirus-(covid-19)/covid-virusff8c2cea93b140ff9358ad5f65f91733.tmb-1200v.jpg?sfvrsn=c13d6c26_1');
        }
    
        </style>
    <body>
        
        <center>
                <br/>
                <h2>COVID-19 DETECTION USING XRAYS</h2>

                
            <br/>

                <h4>Please Upload XRay Image for Covid Results</h4>
                <form action="upload-image" method="post" enctype="multipart/form-data">
                    <input type='file' name='image'/>
                    <input type='submit' value='Upload XRay Image'/>
                </form>
                

            <br/>

                
        </center>
    </body>
</html> 